:root {
--white: hsl(0, 0%, 100%);
--light-gray: hsl(212, 45%, 89%);
--grayish-blue: hsl(220, 15%, 55%);
--dark-blue: hsl(218, 44%, 22%);
}

/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global selectors */

body {
    background-color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: min-content;
    background-color: var(--white);
    border-radius: 15px;
    box-shadow: rgba(31, 50, 81, 0.15) 0px 8px 24px;
    padding: 20px;
}

.qr-image {
    max-width: 100%;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}

h1, p {
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

h1 {
    font-weight: 700;
    color: var(--dark-blue);
    margin-bottom: 20px;
    font-size: 20px;
}

p {
    font-size: 15px;
    font-weight: 400;
    color: var(--grayish-blue);
    padding-bottom: 10px;
}

.description {
    padding-top: 20px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
